/* Navbar start */
#navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80px;
}
.innerdiv {
  display: flex;
  gap: 16px;
}
.button1 img {
  width: 100%;
  height: 100%;
}
.button1 {
  border-radius: 100%;
  border: none;
  width: 40px;
  height: 40px;
  background-color: transparent;
}
#navbar > div:last-child {
  display: flex;
  gap: 5px;
}
#logindiv {
  display: flex;
  gap: 10px;
  border-right: 1px solid;
  align-items: center;
  padding-right: 5px;
}
.button2 {
  padding: 5px 25px;
  font-weight: bold;
}
#nav {
  background-color: #40ab77;
  padding: 0px 160px;
  display: flex;
  justify-content: space-around;
}
#nav button {
  font-size: 18px;
  padding: 10px;
  color: white;
  background-color: transparent;
  margin: auto;
  border: none;
}
.grey{
  border:2px solid black; width:80%;margin:20px auto 40px auto
}
.lovely>img{
  border: 2px solid blue;
  width:100%;
  background-color: #ececec;
}

/* footer start */

#foot > div:first-child {
  text-align: center;
}
.pageFooter {
  background-color: #40ab77;
  padding-left: 140px;
  padding-right: 140px;
  padding-top: 10px;
}
.innerFooter:first-child {
  display: flex;
  gap: 20px;
}
.innerFooter:first-child > div {
  width: 25%;
}
.innerFooter:last-child {
  text-align: center;
  font-size: 10px;
  color: white;
  width: 50%;
  margin: auto;
  margin-top: 20px;
}
.row {
  font-size: 14px;
  color: white;
  font-weight: bold;
}
.col {
  font-size: 12px;
  color: white;
}
button {
  cursor: pointer;
}
